<footer id="footer">
    <div class="container">
        <div class="row myfooter">
            <div class="col-sm-6">
                <div class="pull-left">
                    © Copyright Tukky 2019 | <a href="{% url 'blog:index' %}#home">Privacy Policy</a> | <a href="{% url 'blog:index' %}#home">Terms of Use</a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="pull-right">Designed by Tukky <a href="{% url 'blog:index' %}#home"
                                                                             target="_blank" title="Tukky'Blog">Tukky'Blog</a> -
                    Collect from <a href="{% url 'blog:index' %}#home" title="tukky'Blog" target="_blank">Tukky</a></div>
            </div>
        </div>
    </div>
</footer>